<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Mobiles</title>
    <style rel="stylesheet" type="text/css">
        *{
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
        .mobile-data{
            font-family: sans-serif;
            font-size: 2.0rem;
            line-height: 1;
            border: 2.5px solid;
            padding: 2.0rem;
            color: blue;

            width: 85%;

            margin: auto;
        }
    </style>
</head>
<body>
<div class="mobile-data">
    <p th:text="${'Mobile Price between INR : ' + minPrice + ' and ' + maxPrice}"></p>
    <p th:text="${'Mobile Available: ' + isAvailable}"></p>
</div>

</body>
</html>